/* Elements */
body {
  color: #787C83;
  font-family: "Open Sans", Arial, sans-serif;
  height: 100vh;
}

button {
  color: #fff;
  background-color: #129dfa;
  border: none;
  border-bottom: 2px solid #1d9af5;
  border-color: #4eb0f7;
  border-radius: 4px;
  padding: 5px 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #787C83;
  font-family: 'MerriweatherSans', Arial, sans-serif;
}

input {
  width: 374px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 6px 12px;
}

/* Helpers */
.text-center {
  text-align: center;
}

/* Base */
.app-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.verbling-challenge {
  width: 400px;
}

.item-area {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  height: 400px;
  overflow-y: scroll;
  margin: 10px 0 20px 0;
}

.item-controls {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item {
  cursor: pointer;
  margin: 15px;
  max-height: 50px;
  padding: 0;
}

.item h5 {
  margin: 0 0 10px 0;

}

.item p {
  margin: 0;
}

.button-group button {
  margin-right: 5px;
}

.button-group button:last-child {
  margin-right: 0;
}

.button-green {
  background-color: #97e245;
  border-color: #7dd421;
}
