/* Elements */
body {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  height: 100vh;
}

input {
  width: 396px;
  border-size: 2px;
}

summary {
  height: 50px;
}

/* Helpers */
.text-center {
  text-align: center;
}

/* Base */
.app-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.verbling-challenge {
  width: 400px;
}

.item-area {
  height: 400px;
  overflow-y: scroll
}

.item-controls {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
